<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details for {{ author }}</title>
</head>
<body>
    <h1>Citation details of {{ author }}</h1>
    <table border="1">
        <tr>
            <th>Publication</th>
            <th>Citing Publication</th>
            <th>Authors</th>
        </tr>
        {% for row in rows_b %}
        <tr>
            <td>{{ row.Publication }}</td>
            <th>{{ row['Cited Publication']}}</th>
            <td>{{ row.Authors }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Affiliation and Domain of {{ author }}</h2>
    <table border="1">
        <tr>
            <th>Affiliation</th>
            <th>Domain</th>
            <th>Country</th>
            <th>Continent</th>
        </tr>
        {% for row in rows_c %}
        <tr>
            <td>{{ row.affiliation }}</td>
            <td>{{ row.domain }}</td>
            <td>{{ row.country }}</td>
            <td>{{ row.continent }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Update Values</h3>
    <form method="post">
        <label for="affiliation">affiliation:</label>
        <input type="text" id="affiliation" name="affiliation" required><br><br>
        <label for="domain">domain:</label>
        <input type="text" id="domain" name="domain" required><br><br>
        <label for="country">country:</label>
        <input type="text" id="country" name="country" required><br><br>
        <label for="continent">continent:</label>
        <input type="text" id="continent" name="continent" required><br><br>
        <input type="submit" value="Update">
    </form>
    <a href="/">Back to Author List</a>
</body>
</html>
